.result
{
  width: 40%;
  height: 50%;
  margin: 4vw 27vw;
  text-align: center;
  line-height: 5vw;
  border: 1px solid black;
  padding-top: 2vw;
  h2
  {
    font-size: 3vw;
    font-weight: bolder;
  }
  p
  {
    font-size: 1.3vw;
  }
}