.app
{
  width: 100%;
  height: 100vh;
  &.dark
  {
    background: #333;
    color: #FFF;
    .option
    {
      border: 1px solid #FFF;
    }
    .question
    {
      color: #FFF;
    }
    .result
    {
      border: 1px solid #FFF;
    }
    .question
    {
      padding-top: 3vw;
      font-size: 2vw;
      &.highlight
      {
        color: rgb(255, 0, 0);
      }
      &.removed
      {
        color: rgb(255, 255, 255);
      }
    }
  }
  &.light
  {
    background: #FFF;
    color: #333;
    border: 1px solid #333;
    .option
    {
      border: 1px solid #000;
    }
  }
  .question
  {
    padding-top: 3vw;
    font-size: 2vw;
    &.highlight
    {
      color: rgb(255, 0, 0);
    }
    &.removed
    {
      color: black;
    }
  }
}
